# Python Programming: Essentials 1

#### Variables are used to store values. 

#### A string is a series of characters, surrounded by single or double quotes.

Hello world

In [2]:
print("Hello World!") #print() is your first function

Hello World!

Hello world via a variable

In [4]:
message = "Hello Pairview!" # assigning a string to a variable
print(message) # message is a variable

Hello Pairview!



Concatenation (combining strings)

In [6]:
first_name = 'Fabien' 
last_name = 'GUERET' 
full_name = first_name + ' ' + last_name 
print(full_name)

# little funny one: multiply words! 
print(full_name * 5)

Fabien GUERET
Fabien GUERETFabien GUERETFabien GUERETFabien GUERETFabien GUERET

In [7]:
print(first_name , last_name ) # the comma adds a space automatically

Fabien GUERET



## List

A list stores a series of items in a particular order. 

You access items using an index, or within a loop. 
Make a list

In [8]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

print(bicycles)

['mountain', 'road', 'race', 'penny-farthing']

In [9]:
addon = ['raleigh' , 'brompton']
bicycles = bicycles + addon # add a list to a list
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'raleigh', 'brompton']

Get the first item in the list

In [13]:
first_bike = bicycles[0] 
print (first_bike)

road

Get the last item in the list

In [ ]:
last_bike = bicycles[-1]
print(last_bike)

In [11]:
# write code to print the penultimate (i.e. one before last) bike
second_last = bicycles[4]
print(second_last)

raleigh

In [12]:
one_b4_last = bicycles[-2]
print(one_b4_last)

raleigh

# Working with Strings

## split() function

In [24]:
# the function split() cuts a string at specified character position then store the result in a list

sentence = 'UK house prices grew two per cent year on year for September.'

words = sentence.split(' ')

print(words)

url = 'https://www.theguardian.com/society/2018/oct/11/john-major-universal-credit-could-result-in-backlash-like-poll-tax'

elements = url.split('/')
print(elements)

['UK', 'house', 'prices', 'grew', 'two', 'per', 'cent', 'year', 'on', 'year', 'for', 'September.']
['https:', '', 'www.theguardian.com', 'society', '2018', 'oct', '11', 'john-major-universal-credit-could-result-in-backlash-like-poll-tax']

In [20]:
# adapt to get the first and second part from an email address

email = "trainingsupport@pairview.co.uk"

########## your code below#############

parts = email.split('@')
print(parts)

individual = parts[0]
company = parts[-1]
print(individual,company)

['trainingsupport', 'pairview.co.uk']
trainingsupport pairview.co.uk

In [22]:
# write code to get the first name and the last name from the full name that 
# can include 1 or many middle names

################your code################
myname = "Elizabeth Alexandra Mary Windsor"

parts = myname.split(' ')
print(parts)

first_name= parts[0]
last_name = parts[-1]
print(first_name,last_name)

['Elizabeth', 'Alexandra', 'Mary', 'Windsor']
Elizabeth Windsor

## join() function

In [29]:
# the function join() take a list of strings and concatenate its elements separated by the character passed to it
separator =' '
sentence = separator.join(words)

print(sentence)

UK house prices grew two per cent year on year for September.

## strip() function

In [36]:
# the function strip() removes unwanted characters (spaces usually) 
# at the beginning and ending of a string
stri = "0000000@@this is a polluted # string example@@0000000"
clean = stri.strip('0').strip('@')
print(clean)

this is a polluted # string example

## replace(old_word,new_word) function

In [37]:
# and now I present you the function replace
print( stri. strip('0').strip('@').replace( '# ' , '' ))

this is a polluted string example

# for in statement
### Looping through a list

In [46]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']



for bike in bicycles: 
    print(bike)

mountain
road
race
penny-farthing

## range () function

In [45]:
# loop above equivalent to 

for i in range(0,4): #for i = 0 to 4 do in C++
    print(bicycles[i])

mountain
road
race
penny-farthing

In [41]:
# range function tester

In [42]:
for number in range(8): # one only attribute = range(0,8)
    print(number)

0
1
2
3
4
5
6
7

In [43]:
for number in range(2,8): # first is start , second the one before
    print(number)

2
3
4
5
6
7

In [44]:
for number in range(2,8,2): # first is start , second the one before the last # 3rd the step
    print(number)

2
4
6

## Adding items to a list

In [48]:
# add another string
bicycles.append('peugeot')
print(bicycles)
# equivalent to 
bicycles = bicycles  +  ['peugeot']

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', 'peugeot']

In [50]:
# aside: insert
bicycles.insert(2,'BMX')
print(bicycles)

['mountain', 'road', 'BMX', 'BMX', 'race', 'penny-farthing', 'peugeot', 'peugeot']

In [59]:
# add a number!
bicycles.append(22)
print(bicycles)

['mountain', 'road', 'BMX', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano'], 22]

In [53]:
bicycles.remove('BMX') #removes the 1t instance in the list of the attribute
print(bicycles)

['mountain', 'road', 'BMX', 'race', 'penny-farthing', 'peugeot', 22]

In [54]:
bicycles.pop() # removes the last item in the list
print(bicycles)

['mountain', 'road', 'BMX', 'race', 'penny-farthing', 'peugeot']

In [60]:
# add a list!!
bicycles.append(['derailleur','shimano']) 
print(bicycles)

#YOU CAN ADD ANYTHING!!!

['mountain', 'road', 'BMX', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano'], 22, ['derailleur', 'shimano']]

In [62]:
# Code for accessing the second item in the list inside the list
print(bicycles[-1][-1])

shimano

## Making numerical lists

In [78]:
# initialisation 
cubes = [] 

for number in range(1, 7): 
    cubes.append(number**3) 

print(cubes)

# ** operator is power

[1, 8, 27, 64, 125, 216]

In [90]:
# write code to calculate the average of numbers from 5 to 15
# the average is the sum divided by the number of elements

series = [5,6,7,8,9,10,11,12,13,14,15]
#range(5,16)

#
#initialisation
Sum = 0
# count = 0
for number in series:
    Sum = Sum + number
    # count = count + 1
    
count = len(series)
average = Sum / count      
print(average)

10.0

In [93]:
#initialisation
Sum = 0
count = 0

for number in range(5,16):
    Sum = Sum + number
    count = count + 1
    
average = Sum / count      
print(average)

10.0

## len() function

In [64]:
# the amazing Len function - aka the length of everything
#len()    
   
l = len (range(5,16))
print(l)

print( len (bicycles))

print(len('guardian'))

11
9
8

# List comprehensions : Advanced

In [95]:
cubes = [x**3 for x in range(1, 7)] 
print(cubes)
# equivalent to

[1, 8, 27, 64, 125, 216]

In [98]:
cubes = [] 
for x in range(1, 7): 
    cubes.append(x**3) 
print(cubes)

[1, 8, 27, 64, 125, 216]

## List comprehension exercise 

Write one line of Python that takes this list and makes a new list that has only the even elements of this list in it.

In [ ]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing a list

In [99]:
finishers = ['Sue','Elliot', 'Kumiko','Damien'] 
first_two = finishers[:2] # all up to 2 but not 2
print(first_two)

['Sue', 'Elliot']

In [101]:
last_two = finishers[2:] # from 2 (included) up to end
print(last_two)

['Kumiko', 'Damien']

In [102]:
f = finishers[:2] + finishers[2:]
print(f)

['Sue', 'Elliot', 'Kumiko', 'Damien']

In [103]:
last_two = finishers[-2:]
print(last_two)

['Kumiko', 'Damien']

## index() function
index function returns the first occurence in the list

In [104]:
# want a table with the position next to the element
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
print('Index | Finisher')
for f in finishers:
    print(finishers.index(f), ' | ',f)
# index function returns the first occurence in the list
# a.k.a. vlookup in Excel

Index | Finisher
0  |  Sue
1  |  Elliot
2  |  Kumiko
3  |  Damien
1  |  Elliot

In [107]:
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
L =len(finishers)
print('Index | Finisher')
for number in range(0,L):
    print(number  , ' | ',finishers[number])

Index | Finisher
0  |  Sue
1  |  Elliot
2  |  Kumiko
3  |  Damien
4  |  Elliot

Copying a list

In [108]:
copy_of_bicycles = bicycles[:] 
print(copy_of_bicycles)

['mountain', 'road', 'BMX', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano'], 22, ['derailleur', 'shimano']]

### Tuples

Tuples are similar to lists, but the items in a tuple can't be modified.

Making a tuple

In [ ]:
# tuple of numbers
dimensions = (1920, 1080)

# tuples of tuples
pushbikes= ('mountain', 'road', 'race', 'penny-farthing')

#tuple of different types of variables
hold_all = (35, 'Data Science', [1,2,3,4,5], (1,7))

print(hold_all)

# lists can be modified 
bicycles[0]='raleigh'
print(bicycles)

In [ ]:
#hold_all[0]= 34

print(hold_all[0])

### If statements are used to test for particular conditions and respond appropriately.

# if (condition) : action

In [109]:
# If statement
age = 25
commonwealth = True
if age >= 18: 
    print("You may be able to vote")

You may be able to vote

In [110]:
if (age >= 18 and commonwealth == True):
    print("You can vote!")

You can vote!

In [112]:
#If-elif-else statements 
if age < 4: price = 0 
elif age < 18: price = 10 
elif age > 65: price = 12
else: price = 15

print(price)

15

Conditions

tests equals
x == 42 

not equal 
x != 42  

greater than 
x > 42 

greater than or equal to
x >= 42 

less than
x < 42 

less than or equal to
x <= 42

In [113]:
x = 57 # i assign 57 to x
# (x<42) is  a test with a value of True of False
print('is x smaller than 42?', x < 42)

X =(x > 42 )
print('is x bigger than 42?', X)

if X : 
    print(X)

is x smaller than 42? False
is x bigger than 42? True
True

In [114]:
test = 50
x = (test!= 55)

if x :
    print(x)

True

## Conditional test with lists 
## IN
## NOT IN

In [115]:
print('downhill' in bicycles)

False

In [116]:
print('downhill' not in bicycles)

True

Assigning boolean values

In [ ]:
game_active = True 
can_edit = False

if game_active or can_edit:
    print('yay')

# Exercise

Take a list of numbers
and write a program that prints out all the elements of the list that are less than 5.

In [117]:
# set list

List = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# your code below

L = len(List)
for number in range (0,L):
    if List[number] < 5: print(List[number])

1
1
2
3

In [118]:
for x in List:
    if x < 5 : print(x)

1
1
2
3

In [121]:
Result = [number for number in List if number < 5] 
print(Result)
print(len(Result))

[1, 1, 2, 3]
4

In [124]:
# initialisation
count = 0

for x in List:
    if x < 5 : 
        print(x)
        count = count + 1
print('numbers under 5 : ',count)

1
1
2
3
numbers under 5 :  4

In [125]:
# extra: create a list of random number using the
# random generator below

import random
for x in range(10):
  print(random.randint(1,101))

24
92
99
66
93
48
39
29
73
96

# Dictionaries 
they store connections between pieces of information

Each item in a dictionary is a key-value pair

Simple dictionaries {}

In [127]:
word_frequency = {'Data' : 14, 'Science': 10, 'Machine': 5, 'Learning' : 8}


real_dictionary = {'a': 'string that defines a', 'abc': 'definition of abc'}


# with different value types
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

Accessing a value

In [128]:
print("The car colour is " + car['colour'])
# dict[key] accesses the value in key , value pair

The car colour is laser blue

In [129]:
#write code to retrieve the dictionary inside the dictionary

dictionary = car['dimensions_mm']
print(dictionary)

{'w': 1795, 'l': 4465, 'h': 1465}

In [131]:
# retrieve the value in the dictionary inside the dictionary

print('car length is', car['dimensions_mm']['l'], 'mm')

car length is 4465 mm

In [ ]:
Adding a new key-value pair
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

In [132]:
car['transmission_type'] = 'automatic'
# dic[key] = value
print(car)

{'make': 'Mazda', 'model': '3 sport', 'engine_size_cc': 2259, 'colour': 'laser blue', 'dimensions_mm': {'w': 1795, 'l': 4465, 'h': 1465}, 'transmission_type': 'automatic'}

Values, Keys and Items

In [133]:
print('list of tuples in the dictionary','\n',car.items(),'\n')

list of tuples in the dictionary
 dict_items([('make', 'Mazda'), ('model', '3 sport'), ('engine_size_cc', 2259), ('colour', 'laser blue'), ('dimensions_mm', {'w': 1795, 'l': 4465, 'h': 1465}), ('transmission_type', 'automatic')])

In [134]:
print('list of keys','\n',car.keys(),'\n')

list of keys
 dict_keys(['make', 'model', 'engine_size_cc', 'colour', 'dimensions_mm', 'transmission_type'])

In [135]:
print('list of values','\n',car.values(),'\n')

list of values
 dict_values(['Mazda', '3 sport', 2259, 'laser blue', {'w': 1795, 'l': 4465, 'h': 1465}, 'automatic'])

Looping through all keys

In [136]:
# for keys in dictionary:

for k in car.keys(): 
    print(k + ' is a car characteristic')

make is a car characteristic
model is a car characteristic
engine_size_cc is a car characteristic
colour is a car characteristic
dimensions_mm is a car characteristic
transmission_type is a car characteristic

Looping through all the values

In [139]:
# write code to loop through all the values

for v in car.values(): 
    print(v , ' is the characteristic of my car')

Mazda  is the characteristic of my car
3 sport  is the characteristic of my car
2259  is the characteristic of my car
laser blue  is the characteristic of my car
{'w': 1795, 'l': 4465, 'h': 1465}  is the characteristic of my car
automatic  is the characteristic of my car

Looping through all key-value pairs

In [142]:
for k,v in car.items():
    print(k , 'is', v)

make is Mazda
model is 3 sport
engine_size_cc is 2259
colour is laser blue
dimensions_mm is {'w': 1795, 'l': 4465, 'h': 1465}
transmission_type is automatic

In [143]:
Tuples_List = [(1,2,3) , (4,5,6) , (7,8,9)]

for a , b , c in Tuples_List:
    print(a*b/c)

0.6666666666666666
3.3333333333333335
6.222222222222222

In [144]:
#Write a Python script to concatenate following dictionaries to create a new one. 

#Sample Dictionary : 
dic1={1:'Royal Dutch Shell', 2:'BP'} 
dic2={3:'Total', 4:'Volkswagen'} 
dic3={5:'Glencore Xstrata',6:'Gazprom'}

# initialisation
final_dic = dic1

for k,v in dic2.items():
    final_dic[k] = v

for k,v in dic3.items():
    final_dic[k] = v

print(final_dic)

{1: 'Royal Dutch Shell', 2: 'BP', 3: 'Total', 4: 'Volkswagen', 5: 'Glencore Xstrata', 6: 'Gazprom'}

In [146]:
# Write a Python script to check if a given key already exists in a dictionary.

test_number = 7
key_in_dictionary = False

### your code ####
for k in final_dic.keys():
    if k == test_number : key_in_dictionary = True
        
if key_in_dictionary : print(test_number, ' is a key already in the dictionary')
else: print(test_number, ' is not a key already in the dictionary')

7  is not a key already in the dictionary

In [147]:
key_in_dictionary = test_number in final_dic.keys()

if key_in_dictionary : print(test_number, ' is a key already in the dictionary')
else: print(test_number, ' is not a key already in the dictionary')

7  is not a key already in the dictionary

### Programs can prompt the user for input. 
All input is stored as a string. 

Prompting for a value

In [148]:
# prompting for a value
name = input("What's your name? ") 
print("Hello, " + name + "!")

What's your name? Fabien the Great
Hello, Fabien the Great!

In [152]:
# prompting for a number

age = input("How old are you? ") #return a string
age = int(age) #convert
print(age*7)

How old are you? 45
315

In [153]:
pi = input("What's the value of pi? ") 
print(pi)
pi = float(pi)

What's the value of pi? 3.14
3.14

# Exercise
Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [154]:
#initialisation
current_year = 2018

name = input("What's your name? ") 
age = input("How old are you? ") #return a string
age = int(age) #convert

wait = 100 - age
year  = current_year + wait

print("Hello,", name, 'you will turn 100 years old in', year)

What's your name? Bilbo Baggins
How old are you? 55
Hello,  Bilbo Baggins you will turn 100 years old in 2063

In [7]:
# Write a Python program that prompts for a month name and converts it to a number of days.
#List of months: January, February, March, April, May, June, July, August
#, September, October, November, December                                

# Example
#Input the name of Month: February                                       
#No. of days: 28/29 days 

months = {'January' : 31, 'February': 28, 'March':31, 'April':30, 'May':31,
          'June':30, 'July':31, 'August':31 , 'September':30,
          'October':31, 'November':30, 'December':31 }                    
       
Month = input('Which month do you need?') # prompting for the key

# printing the value
print('No. of days:',months[Month])

# avdanced: what about leap years?
Year = input('Which Year')
Year= int(Year)

# check if Year divisible by 4
if (Year//4 == Year / 4):  # equivalent to Year %4 = 0
    if Month == 'February':
        print('Actually February this year has 29 days')

Which month do you need?February
No. of days: 28
Which Year2016
Actually February this year has 29 days

In [10]:
y = 2011//4 # round division
z = 2011/4 # standard division
w = 2011 % 4 # modulo or remainder
print(y)
print(z)
print(w)

502
502.75
3